body {
  background-color: burlywood;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  background-color: #f7eee6;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f7eee6 10px ), repeating-linear-gradient( #f7454555, #f74545 );
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1);
}


.text {
  width: 80%;
  background-color: brown;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 25px;
}

.resume {
  width: 90%;
  background-color: brown;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 25px;
}

h6 {
  text-align: center;
  font-style: italic;
}

 img {
      display: block;
      margin: 0 auto;
      width: 50%;
   max-width: 300px;
    }
